*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style : none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*box-sizing: border-box;*/
    line-height: normal;
    color: #000000;
}
/**BODY**/

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #9aaab3; 
}

.contenedor{
    padding : 60px 0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    /* overflow: hidden */;
}


/**HEADER**/ 

header {
    background-color: rgb(255, 255, 255);
    position : relative;
    width: 100%;
    height: 50%;
}

header img {
/*     background-attachment: fixed;
    overflow: scroll;
    width: 30%;
    height: auto;
    padding-left: 35%; */
    margin-top:2%;
    background: url(../imagenes/fotoheader.jpg);
    width: 30%;
    position: relative;
    left: 35%;     
}
nav li:hover {
    font-weight: bold;
    background-color: #9aaab3;
    border-bottom: solid;
    border-color: rgb(0, 0, 0);
    display: inline-block;
    width: auto;
    margin-bottom: -1%;
}

/*.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}*/

nav{
    text-align: right;
    padding-right: 2%;
    padding: 30px 50px 0 0;
}
nav ul li {
    display: inline-block;
    font-size: 22px;
    position: right;
    margin-top: 0;
    margin-right: 1%;
    position : relative;
    padding: 0;
}



header h2 {
    text-align: center;
    /*position : relative;*/
    font-size: 50px;
    color: red;
}
/* Cuerpo */

/*OK para el centro*/
#centro{
    font-size: 20px;
    text-align: justify;    
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    position: relative;
    align-self : center;

}

#centro h2{
    color: #ffffff;
    text-transform:uppercase;
    letter-spacing: 2px;
    margin-left: 4%;
}

.texto{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 19px;
}

#centro2 {
    font-size: 20px;
    /*height: 200%;*/
    width: 70%;
    /*margin-left: 2%;*/
    /*margin-right: 10%;*/
    margin-top: 2%;
    position: relative;
    /*left: 40%;*/

}

#centro2 h2{
    color: rgb(255, 255, 255);
    text-transform:uppercase;
    float: center;
    width: 100%;
    text-align: center;    
    padding-left:22%;
}


/*Para la derecha*/


#sectiond{
    width: 47%;
    margin-top: 2%;
    float: right;
    position: absolute;
    left: 50%;
    padding-right:1%;
   
}
#sectiond2{
    position: relative;
    float: right;
    top: 115%;
    height : 100%;
    width: 48%;
    right: 1%;
    margin-top: 1%;

}
#sectiond2 img{
    height: auto;
    width: 64%;
    margin-top: 3%;
    margin-right: 5%;
    margin-left: 15%;
}
 /* iframe{
    max-width: 800px;
    margin-top: 50px;
    width: 90%;
    height: 40%;
    aspect-ratio: 0.5;

}  */
/* PARA LA IZQUIERDA*/

#sectioni{
    margin-top: 2%;
    width: 47%;
    float: left;
    left: 1%;
    margin-right:53%;
    position: relative;
    right: 55%;    
}

#sectioni2{
    position: relative;
    float: left;
    top: 115%;
    width: 47%;
    left: 1%;
    right: 53% ;
    margin-top: 1%;
}
#sectioni3{
    position: relative;
    float: left;
    top: 115%;
    height: 100%;
    width: 100%;
    margin-top: 4%;
    margin-right: 2%;
    background-color: rgb(238, 238, 238);
}

#sectioni3 h3{
    color :#ff0000;
    margin-bottom: 1%;
}

#sectioni3 p{
    margin-bottom: 2%;
    line-height: normal;
}



.articlei {

    position : relative;
    float: center;
    padding-right: 10%;
    padding-left: 12%;
    margin-bottom: 1%;
}


#articled{
    position: relative;
    float: center;
    padding-left: 11%; 
    padding-right: 10%;
    margin-bottom: 1%;
}
#articled2{
    float: center;
    width: 100%;
    height: 200%;
}


article p {
    text-align: center;
    font-size: 25px;
}
/* 
 iframe{
    position: relative;
    margin-left: 19%;
    margin-top:2%;
    float: center;
    width : 450px;
    height : 280px;
}  */

section article h2{
    text-align: center;
    margin-right: 5%;
    margin-left: 2%;
    text-decoration: underline;
}

.ayuda{
    color: rgb(255, 255, 255);
    text-transform:uppercase;
    margin-right: 1%;
    letter-spacing: 2px;
}
#ayuda2{
    color: rgb(255, 255, 255);
    text-transform:uppercase;
    margin-right: 5%;
    letter-spacing: 2px;
}

section article p {
    text-align: center;
    font-size: 15px;
}


#sectioni2 .articlei img{
    width: 90%;
    margin-top: 4%;
    margin-left: 5%;
    /*margin-right: 12%;*/
}


/*FOTOS*/

#foto_impresora{
    margin-top: 1%;
    position: relative;
    height: 65%;
    width: 91%;
    padding-left: 5%;   
}

#foto_material{
    margin-top: 1%;
    position: relative;
    width: 80%;
    padding-left: 10%;
}

#foto_uno{
    float: right;
    position: relative;
    width: 45%;
    height: 100%;
    margin-top:10%
}

#foto_dos{
    position: relative;
    float: left;
    width: 48%;
    height: 30%;
}
/* #foto_dos img{
    position:relative;
    float: left;
    margin-top: 3%;
    margin-left: 5%;
    width: 90%;
    min-width: 45%;
    height: 45%;
    min-height: 15%;
} */

#foto_Yoda{
    margin-top: 10%;
    float: left;
    position: absolute;
    margin-left: 120%;
    width: 57%;
    
}
#foto_DDL{
    margin-top: 10%;
    margin-left: 30%;
    float: left;
    width: 60%;
}
#foto_Vikingo{
    margin-top: 10%;
    position: absolute;
    float: left;
    margin-left: 30%;
    width: 61%;
}

#foto_tres {
    width: 80%;
    margin-top: 1%;
}
#fotos{
    height: 300px;
}

#nuevo{
    float: left;
    position: relative;
    /*padding-right: 28%;*/
    height: 100%;
    width: 99%;
}


/*Footer*/

footer #sectioni3{
    margin-right: 5%;
}

footer #sectioni3 article{
    position: relative;
    float: left;
    margin-left: 8%;
    margin-right: 5%;
}


footer #sectioni3 h3{
    font-size: 25px;
    margin-right: 55%;
    margin-left: 8%;
    margin-top: 7%;
}

footer #sectioni3 p{
    text-align: left;
    font-size: 19px;
    padding-top: 1%;
}

#direccion{
    position: relative;
    float: center;
    text-align: center;
    margin-right: 35%;
    margin-left: 40%;
    margin-top:5%;

}
#fotofooter{
    position: relative;
    float: right;
    top: 100%;
    width: 25%;
    height: 50%;
    margin-right: 5%;
}
#RRSS{
    top: 10%;
    float: center;
    position: relative;
}
#TextoRRSS{
    padding-left: 36%;
    position:relative;
    float: center;
}
#logoig{
    position: relative;
    float: center;
    width: 5%;
    height: 10%;
    padding-left: 36%;
}
#logofc{
    position: relative;
    float: center;
    width: 5%;
    padding-left: 3%;
   
}
#logoyt{
    position:relative;
    float: center;
    padding-left: 3%;
    width: 5%;

}

/***********RESPONSIVE NAV************/

.checkbtn{
    font-size: 20px;
    color: #000000;
    float: right;
    line-height: 20px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


@media (max-width: 1200px){    
    nav ul li {
        font-size: 20px;
    }
}

@media (max-width: 1060px){
    #centro h2{
        font-size: 15px;
    }
    .ayuda{
        font-size: 15px;
    }
    #ayuda2{
        font-size: 15px;
    }
    #nuevo h2{
        font-size: 15px;
    }
    .articled2 h2{
        margin-bottom: 1%;
    }
    .articled2 img{
        margin-top: 1%;
    }
    .texto{
        font-size: 10px;
    }
    footer #sectioni3 h3{
        font-size: 12px;
    }
    footer #sectioni3 p{
        font-size: 9px;
    }
    footer #sectioni3 #RRSS #TextoRRSS{
        font-size: 8px;
        border: #000000 1px solid;
        margin-right: 30%;
    }
    footer #sectioni3 #RRSS img{
        border: #000000 1px solid;
        margin-left: 2%;
    
    }
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 102vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 100;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }

    li a:hover, li a:active{
        background: none;
        color: red;
    }

    #check:checked ~ ul{
        left:0;
    }
}

/******** MENU ********/

#menu ul {
    list-style: none;
    margin : 0;
    padding: 0;
}

/********* ITEMS MENU ********/

#menu ul li{
    background-color: #28dad4;
}


/********** ENLACES DEL MENU **********/

#menu ul a{

    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: 50px;
    font-size: 14px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
}

/* items del menu */

#menu ul li {
    position:relative;
    margin:0;
    padding-right:5%;
    margin-right: 1%;
}

/* efecto al pasar el ratón por los items del menu */

#menu ul li:hover {
    background:#ff0000;
}


/******** MENU DESPLEGABLE *********/
#menu ul ul{
    display: none;
    position: absolute;
    top: 100%;
    right: 5%;
    background:#eee;
    padding:0;
}

/* items del menu desplegable */

#menu ul ul li {
 float:none;
 width: 140px
}

/* enlaces de los items del menu desplegable */

#menu ul ul a {
    line-height:100%;
    padding:10px 10px;
}

/* items del menu desplegable al pasar el ratón */

#menu ul li:hover > ul {
 display:block;
}

